[submodule "Pokemon website"]
    path = Pokemon website
    url = https://github.com/SwatiGupta101201/pokemon.github.io

[submodule "portfolio website"]
    path = portfolio website
    url = https://github.com/SwatiGupta101201/portfolio.github.io
